@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
body{
    background-color: aliceblue;
}
.display{
    display: flex;
    background-color: white;
}
.imagebox{
    width: 80%;
    
}
.image{
    width: 80%;
    
}
.Tittle h2{
    margin: 10px;
}
.pagesection{
    display: grid;
    grid-template-columns: repeat(3,300px);
}
.sub ul li{
    list-style: none;
    margin: 26px;
}
.sub ul{
    display: inline-flex;
}
.sub {
background-color: rgb(156, 182, 170);
color:black ;
height: 50px;
}
.fullpage {
    display: flex;
}
.select{

    width: 15%;
    border: 1px solid black;
    border-radius: 1px 2px 2px 1px;
}
.pro input{
margin:10px;;
}
.form{
    text-align: center;
}
.cartselection{
        text-align: center;
}
#summer{
    background-image: image-set("https://t3.ftcdn.net/jpg/04/92/34/62/240_F_492346296_O8SAzY0mMJFpOqUqOamOouuq3oIMHwzH.jpg");
    background-size:100%;
    background-repeat: no-repeat;

}
